body{
    background: #dfe7ef;
}
.photo{
    border-radius: 15px;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.card1{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 7px;
}
.title{
    font-weight:bold;
    font-family:"Roboto";
}
.play{
    background-color: #80ccff;
    border-radius: 50px;
    height:30px;
    margin-left: 75px;
    width: 30px;

}
.text{
    padding:10px
}
.search{
    width: 100%;
}